.ChatHeadDiv{
    background-color: transparent;
    /* border-radius: 10px; */
    /* min-width: 0; */
    /* padding-left: 8px;
    padding-right: 8px;
    margin: 8px; */
    display: flex;
    align-items: center;
    height: 70px;
    cursor: pointer;

}


.ProfilePicture{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.Details{
    padding-left: 1vh;
}

.ProfileName{
    padding-bottom: .5vh;
    font-size: 15px;
    
}
.TimeMsg{
    display: flex;
    flex-direction: row;
    color: #999999;
    font-size: 13px;
    padding-left: 12px;
}
.LastMsg{
    padding-right: 1vh;
}
.Time{
    padding-left: 1vh;
}