
.all-messages {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.all-messages:hover{
  overflow-y: scroll;
  overflow-y: overlay;
}

.all-messages::-webkit-scrollbar-track
{
    
    border-radius: 10px;
    border: none;
    background-color: #ffffff;
    
}

.all-messages::-webkit-scrollbar
{
  
    width: 7px;
    background-color: #ffffff;
}

.all-messages::-webkit-scrollbar-thumb
{
  
    border-radius: 10px;
    background-color: rgb(153, 149, 149);
    
}

.msgrecieved{
  background-color: #f1f0f0;
  width: fit-content;
  padding: 10px;
  margin:10px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  position: relative;
  border-top-left-radius: 1.3em;
  border-bottom-right-radius: 1.3em;
  border-top-right-radius: 1.3em;
  max-width: 70%;
  font-size: 15px;
  float: left;
  clear: both;
}

.msgsent{
  background-color:#0e97fa;
  color: #fef8ff;
  width: fit-content;
  padding: 10px;
  margin:10px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  position: relative;
  border-radius: 1.3em;
  max-width: 70%;
  font-size: 15px;
  float: right;
  clear: both;
}

.msgrowsent{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.invisibledivsent{
  display: flex;
  flex-direction: row-reverse;
  display: none;

}

.msgrowrecieved{
  display: flex;
  align-items: center;

}

.invisibledivrecieved
{
  display: flex;
  display: none;
}

.msgrowsent:hover  .invisibledivsent{
  display: inline-flex !important;
}

.msgrowrecieved:hover .invisibledivrecieved{
  display: inline-flex !important;
}


.svgbutton{
  background: transparent;
  
  align-items: center;
    background-color: none;
    border-radius: 99px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    height: 32px;
    justify-content: center;
    width: 32px;
    border: none;
    outline: none;
    
}

.svgbutton:hover, .svgbutton:hover path{
  background: rgba(0, 132, 255, .2);
 fill: black;
 transition: all ease 0.3s;
 
}

.msgreaction{
  border-radius: 20px;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, .1);
    background-color: white;
   z-index: 2;
   height: 20px;
   position: absolute;
   display: block;
   margin-right: -10px;
}

/* .tooltip{
  display: inline;
  position: relative;
}

.tooltip:hover::after{
  position: absolute;
  background: #0c0f12 ;
  border-radius: 2px;
  color: #fff;
  content: attr(data-tooltip);
  right: 50%;
  left: -16%;
  bottom: 3.4em;
  font-size: 12px;
  padding: 6px;
  width: fit-content;
  z-index: 9999;
  
  
}
.tooltip:hover::before{
  border: solid;
  border-color: #0c0f12 transparent;
  border-width: 6px 4px 0 4px;
  content: "";
  left: 35%;
  bottom: 35px;
  position: absolute;
}  */

.active{
  display: inline-flex !important;
}

.popover{
  display: block;
  z-index: 100;
}

/* .emoji-mart-bar {
  display: none;
 } */
 /* .emoji-mart-scroll {
  border-radius: 10px;
 } */
 /* .emoji-mart-category-label {
  display: none;
 } */
 /* .emoji-mart-search {
  display: none;
 } */
 /* .emoji-mart-anchors {
  display: none;
 } */
 /* .emoji-mart {
  z-index: 999;
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  
 } */
