.all-messages {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.all-messages:hover{
  overflow-y: scroll;
}

*::-webkit-scrollbar-track
{
    border-radius: 10px;
    border: none;
    background-color: #ffffff;
    
}

*::-webkit-scrollbar
{
    width: 7px;
    background-color: #ffffff;
}

*::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: rgb(153, 149, 149);
    
}

.msgrecieved{
  background-color: #f1f0f0;
  width: fit-content;
  padding: 10px;
  margin:10px;
  margin-top: 2px;
  margin-bottom: 2px;
  display: block;
  position: relative;
  border-top-left-radius: 1.3em;
  border-bottom-right-radius: 1.3em;
  border-top-right-radius: 1.3em;
  max-width: 70%;
  font-size: 15px;
  float: left;
  clear: both;
}

.msgsent{
  background-color:#0e97fa;
  color: #fef8ff;
  width: fit-content;
  padding: 10px;
  margin:10px;
  margin-top: 2px;
  margin-bottom: 2px;
  display: block;
  position: relative;
  border-top-right-radius: 1.3em;
  border-bottom-left-radius: 1.3em;
  border-top-left-radius: 1.3em;
  max-width: 70%;
  font-size: 15px;
  float: right;
  clear: both;
}

.msgrowsent{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.invisibledivsent{
  display: flex;
  flex-direction: row-reverse;
  visibility: hidden;

}

.msgrowrecieved{
  display: flex;
  align-items: center;

}

.invisibledivrecieved
{
  display: flex;
  visibility: hidden;
}

.msgrowsent:hover  .invisibledivsent{
  visibility: visible;
}

.msgrowrecieved:hover .invisibledivrecieved{
  visibility: visible;
}

.svgbutton{
  background: transparent;
  
  align-items: center;
    background-color: none;
    border-radius: 99px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    height: 32px;
    justify-content: center;
    width: 32px;
    border: none;
    outline: none;
    
}

.svgbutton:hover, .svgbutton:hover path{
  background: rgba(0, 132, 255, .2);
 fill: black;
 transition: all ease 0.3s;
 
}

/* .tooltip{
  display: inline;
  position: relative;
}

.tooltip:hover::after{
  position: absolute;
  background: #0c0f12 ;
  border-radius: 2px;
  color: #fff;
  content: attr(data-tooltip);
  right: 50%;
  left: -16%;
  bottom: 3.4em;
  font-size: 12px;
  padding: 6px;
  width: fit-content;

  
}
.tooltip:hover::before{
  border: solid;
  border-color: #0c0f12 transparent;
  border-width: 6px 4px 0 4px;
  content: "";
  left: 35%;
  bottom: 35px;
  position: absolute;
}  */

